/* Colours
#E5E5E5 - background
#F9690E - Orange
#B1B2B5 - grey400
##595959 - grey700
*/

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    background-color: #f4f4f6;
}

.content-container {
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.content-container-heading {
    margin-bottom: 20px;
    color: #595959;
}

.trending-post {
    margin-bottom: 20px;
}

.trending-post h4 {
    margin-bottom: 10px;
}

.trending-post-metadata {
    display: flex;
    justify-content: space-between;
}

.orange-hyperlink {
    color: #f9690e;
    font-weight: bold;
}
