/* Colours
#E5E5E5 - background
#F9690E - Orange
#B1B2B5 - grey400
##595959 - grey700
*/

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f4f4f6;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    margin-bottom: 40px;
}

nav > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.content-container {
    margin: 0 30px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.content-container-heading {
    margin-bottom: 20px;
    color: #595959;
}

.share-input {
    display: flex;
    gap: 20px;
}

.share-input input {
    flex: 1;
    border: 1px solid #d6d6d7;
    border-radius: 4px;
    padding-left: 20px;
}

.individual-post-header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.buttons {
    padding: 4px 8px;
    background: white;
    border: 1px solid #d6d6d7;
    border-radius: 4px;
    color: #595959;
}

.buttons > * {
    display: inline-block;
    vertical-align: middle;
}

.individual-post > div {
    margin-bottom: 20px;
}

.profile-photo-container > * {
    display: inline-block;
}

.author-name {
    font-weight: bold;
}

.stretch-image img {
    width: calc(100% + 40px);
    margin-left: -20px;
}

.milestone-post {
    margin-bottom: 20px;
}

.milestone-post > * {
    display: inline-block;
    vertical-align: middle;
    color: #595959;
}

.trending-post {
    margin-bottom: 20px;
}

.trending-post h4 {
    margin-bottom: 10px;
}

.trending-post-metadata {
    display: flex;
    justify-content: space-between;
    color: #595959;
}

.orange-hyperlink {
    color: #f9690e;
    font-weight: bold;
}

.video-showcase {
    position: relative;
    height: 300px;
    background-image: url("/Accountable Source Files/Assets/Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase-live-stat {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.showcase-viewers-stat {
    background-color: #9d979c;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.video-showcase p {
    position: absolute;
    width: 30%;
    bottom: 20px;
    font-weight: bold;
}
